header_name{
  text-align : center;
}
#b_color{
  background-color:#ffffcc;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#demo{
  background-color:#669999;
}
.text-center{
  text-align:center;
}
